<p-toast />

<div class="card grid grid-cols-4 gap-4">
    <div class="col-start-1">
        <p>
            <input pInputText type="text" placeholder="Buscar..."  (input)="dt2.filterGlobal($any($event.target).value, 'contains')"/>
        </p>
    </div>
    <div class="col-end-7">
        <p-button icon="pi pi-plus" [rounded]="true" severity="success" (click)="showDialog()"></p-button>
    </div>
    
</div>
<div class="card">
    <p-table 
        #dt2
        [value]="atraso"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped" 
        [paginator]="true"
        dataKey="idPersona"
        [globalFilterFields]="['primerNombre','persona.primerNombre','ci']"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>NRO</th>
                <th>PERSONA</th>
                <th>FECHA</th>
                <th>JUSTIFICADO</th>
                <th>ESTADO</th>
                <th>MES</th>
                <th>AÑO</th>
                <th>HORA</th>
                <th>MINUTO</th>
                <th>MINUTOS ATRASADO</th>
                <th>DIA</th>                
                <th>ACCION</th>        
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-justAtraso>
            <tr>
                <td>{{ justAtraso.idAtraso }}</td>
                <td>{{ justAtraso.persona}}</td>
                <td>{{ justAtraso.fecha }}</td>
                <td>{{ justAtraso.justificado }}</td>

                <td>{{ justAtraso.estado }}</td>
                <td>{{ justAtraso.mes }}</td>
                <td>{{ justAtraso.anio }}</td>
                <td>{{ justAtraso.hora }}</td>
                <td>{{ justAtraso.minuto }}</td>
                <td>{{ justAtraso.minutosAtrasado }}</td>
                <td>{{ justAtraso.dia }}</td>
                

                <td>
                    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
                        <p-button icon="pi pi-pencil" [rounded]="true" (click)="showDialog(justAtraso)"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="delete(justAtraso.idAnticipo)" ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



