<div class="grid grid-cols-4 gap-3 mt-10 mb-24">
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-autoComplete 
                [(ngModel)]="vacacion.persona" 
                [suggestions]="filtrarPersonas" 
                (completeMethod)="filterPersonas($event)"
                field="ci" />
            <label for="pnombre">Buscar por C.i.</label>
        </p-floatLabel>
    </div>  
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-dropdown 
                [options]="persona" 
                [(ngModel)]="vacacion.persona" 
                optionLabel="primerNombre"
                placeholder="TIPO PERSONA" />
            <label for="d">Tipo Persona </label>
        </p-floatLabel>
    </div>
</div>

<div class="grid gap-3 mt-10 mb-24" >
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
        
        <!-- <p-calendar 
        inputId="calendar-24h" 
        [(ngModel)]="persona.fechaNacimiento" 
        [showTime]="true" 
        hourFormat='24'
        dateFormat="dd/mm/yy"
        /> -->
            <p-calendar  
                [(ngModel)]="vacacion.fechaDesde" 
                dateFormat="dd/mm/yy"
                [showWeek]="true" 
                [minDate]="minDate" 
                [maxDate]="maxDate" 
                (onSelect)="onFechaDesdeChange($event)"
                
            />
            @if( vacacion.fechaDesde == null){
                <label for="F.Desde" class="font-bold block mb-2" >Fecha Desde</label>
            }
            @else{
                <label for="F.Desde" class="font-bold block mb-2" >{{vacacion.fechaDesde | fechas}}</label>
            }

            
        </p-floatLabel>
    </div>

    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
        
        <!-- <p-calendar 
        inputId="calendar-24h" 
        [(ngModel)]="persona.fechaNacimiento" 
        [showTime]="true" 
        hourFormat='24'
        dateFormat="dd/mm/yy"
        /> -->
            <p-calendar  
                [(ngModel)]="vacacion.fechaHasta" 
                dateFormat="dd/mm/yy"
                [minDate]="fechaDesde()"
                [minDate]="minDate" 
                [maxDate]="maxDate" 
                (onSelect)="onFechaHastaChange($event)"
            />
            @if( vacacion.fechaHasta == null){
                <label for="F.Hasta" class="font-bold block mb-2" >Fecha Hasta</label>
            }
            @else{
                <label for="F.Hasta" class="font-bold block mb-2" >{{vacacion.fechaHasta | date: 'dd/MM/yyyy'}}</label>
            }

            
        </p-floatLabel>
    </div>

    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <input pInputText id="descripcion" [(ngModel)]="vacacion.descripcion" oninput="this.value = this.value.toUpperCase()" />
            <label for="descripcion">Descripcion</label>
        </p-floatLabel>
    </div>
</div>

<div class="flex justify-content-end gap-2 mt-20">
    <p-button label="CANCELAR" severity="secondary" (click)="close()" />
    <p-button label="PROCESAR" (click)="operate()" />
</div>

