<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
      <li app-menu-item *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
      <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>

</ul>

<!--  <ul >
  
    @for (item of menus; track $index) {
      
      <p-button icon="{{item.icon}}" label="{{item.name}}" [text]="true" severity="secondary" routerLink="{{item.url}}" [routerLinkActive]="['active']"/><br>
      
    }
    
  

</ul>

 -->