<p-toast />
<p-confirmPopup />
<div class="card grid grid-cols-4 gap-4">
    <div class="col-start-1">
        <p>
            <input pInputText type="text" placeholder="Buscar..." oninput="this.value = this.value.toUpperCase()" (input)="dt2.filterGlobal($any($event.target).value, 'contains')"/>
        </p>
    </div>
    <div class="col-end-7">
        <p-button   severity="success" (click)="showDialog()">NUEVO USUARIO</p-button>
    </div>
    
</div>

<div class="card">
    <p-table 
        #dt2
        [value]="usuario"
        [rows]="5"
        [tableStyle]="{ 'min-width': '50rem' }"
        styleClass="p-datatable-striped" 
        [paginator]="true"
        dataKey="idPersona"
        [globalFilterFields]="['bono','persona.primerNombre','idDieta']"
        [rowsPerPageOptions]="[5, 10, 20]"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>NRO</th>
                <th>USUARIO</th>
                <th>ROL</th>
                <th>ACCION</th>
                
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-usuario>
            <tr>
                <td>{{ usuario.idUser }}</td>
                <td>{{ usuario.username }}</td>
                <td>
                    <ng-container *ngFor="let role of usuario.roles; let i = index">
                        {{ role.name }}
                    </ng-container>
                </td>
                <td>
                    <div class="flex justify-content-center flex-wrap gap-3 mb-4">
                        <p-button icon="pi pi-pencil" [rounded]="true" (click)="showDialog(usuario)"></p-button>
                        <p-button icon="pi pi-trash" [rounded]="true" severity="danger"  (click)="confirm2($event,usuario.idUser)" ></p-button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



