<router-outlet></router-outlet>
<p-toast />
<p-confirmPopup />
<!-- [hidden]="chekChildren()" -->
<div >
    <div class="card grid grid-cols-4 gap-4">
        <div class="col-start-1">
            <p>
                <input pInputText type="text" placeholder="Buscar..."  (input)="dt2.filterGlobal($any($event.target).value, 'contains')"/>
            </p>
        </div>
        <div class="col-end-7">
            <p-button icon="pi pi-plus" [rounded]="true" severity="success" (click)="showDialog()"></p-button>
        </div>
        
    </div>
    
    <div class="card">
        <p-table 
            #dt2
            [value]="permiso"
            [rows]="5"
            [tableStyle]="{ 'min-width': '50rem' }"
            styleClass="p-datatable-striped" 
            [paginator]="true"
            dataKey="idPersona"
            [globalFilterFields]="['primerNombre','estadoPermiso']"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th>NRO</th>
                    <th>PERSONA</th>
                    <th>TIPO PERMISO</th>
                    <th>F.DESDE</th>
                    <th>F.HASTA</th>
                    <!-- <th>F.REINTEGRO</th> -->
                    <th>DIAS/HRS FALTA</th>
                    <th>DESCRIPCION</th>
                    <th>MOTIVO</th>
                    <th>MONTO</th>
                    <th>HORA/FECHA</th>
                    <th>ACCION</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-permiso>
                <tr>
                    <td>{{ permiso.idPermiso }}</td>
                    <td>{{ permiso.persona.primerNombre  }} {{ permiso.persona.primerApellido }}</td>
                    @if(permiso.tipoPermiso == true ){
                        <td>SIN GOCE</td>
                    }
                    @else{
                        <td>CON GOCE</td>
                    }    
                    <td>{{ permiso.fechaDesde | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td>{{ permiso.fechaHasta | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
                    <td>{{ permiso.diasFalta | number : '1.2-2' }} {{ permiso.tipoFechaHora}}</td>
                    <td>{{ permiso.permisosLaboralesLista.descripcion | uppercase }}
                    <td>{{ permiso.motivo }}</td>
                    <td>{{ permiso.monto }}</td>
                    <td>{{ permiso.fechaHoraEstado == true ? 'HORA' : 'FECHA' }}</td>
                    <td>
                        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
                            <p-button icon="pi pi-pencil" [rounded]="true" (click)="showDialog(permiso)"></p-button>
                            <p-button icon="pi pi-trash" [rounded]="true" severity="danger"  (click)="confirm2($event,permiso.idPermiso)"></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>    
</div>



