<div class="grid gap-3 mt-10 mb-20" >
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-autoComplete 
                [(ngModel)]="anticipo.persona" 
                [suggestions]="filtrarPersonas" 
                (completeMethod)="filterPersonas($event)"
                field="ci" />
            <label for="pnombre">Buscar por C.i.</label>
        </p-floatLabel>
    </div>  
    <div class="flex align-items-center gap-3 mb-2">
        <p-floatLabel>
            <p-inputNumber id="monto" [(ngModel)]="anticipo.monto" mode="decimal"  [useGrouping]="false" />
            <label for="monto">Monto</label>
        </p-floatLabel>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <input pInputText id="descripcion" [(ngModel)]="anticipo.descripcion" oninput="this.value = this.value.toUpperCase()" />
            <label for="descripcion">Descripcion</label>
        </p-floatLabel>
    </div>
    <!-- <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-calendar  
                [(ngModel)]="anticipo.fechaAnticipo" 
                view="month" 
                dateFormat="mm/yy" 
                [showWeek]="true" />
        </p-floatLabel>
    </div> -->
    <p-divider align="left" type="solid">
        <b>DATOS PERSONA</b>
    </p-divider>
    
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-dropdown 
                [loading]="true"
                [options]="persona" 
                [(ngModel)]="anticipo.persona" 
                optionLabel="primerNombre"
                placeholder="NOMBRE"
                [disabled]="true" />
                
            <label for="pnombre">Nombre</label>
        </p-floatLabel>
    </div> 
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <p-dropdown 
                [loading]="anticipo"
                [options]="persona" 
                [(ngModel)]="anticipo.persona" 
                optionLabel="sueldoBase"
                placeholder="SUELDO BASE"
                [disabled]="true" />
                
            <label for="pnombre">Sueldo actual</label>
        </p-floatLabel>
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <p-floatLabel>
            <input pInputText [disabled]="true"  id="totalAnticipo" [(ngModel)]="totalAnticipo"/>
        </p-floatLabel>
    </div>
    
    
    
</div>
<p-messages  [(value)]="messages" [enableService]="false"></p-messages>
<div class="flex justify-content-end gap-2 mt-20">
    <p-button label="CANCELAR" severity="secondary" (click)="close()" />
    <p-button label="PROCESAR" (click)="operate()" />
</div>

