<p-toast />
<p-confirmPopup />
<router-outlet></router-outlet>
<div [hidden]="chekChildren()">    
    <div class="card grid grid-cols-4 gap-4">
        <div class="col-start-1">
            <p>
                <input pInputText type="text" placeholder="Buscar..."  (input)="dt2.filterGlobal($any($event.target).value, 'contains')"/>
            </p>
        </div>
        <div class="col-end-7">
            <p-button icon="pi pi-plus" [rounded]="true" severity="success" (click)="showDialog()"></p-button>
        </div>
        
    </div>
    
    <div class="card">
        <p-table 
            #dt2
            class="p-datatable-sm"
            [value]="persona"
            [rows]="10"
            styleClass="p-datatable-striped" 
            [tableStyle]="{ 'min-width': 'rem' }"
            styleClass="p-datatable-striped" 
            [paginator]="true"
            dataKey="idPersona"
            [globalFilterFields]="['primerNombre','sucursal.nombre','ci']"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header" >
                <tr>
                    <th pSortableColumn="idPersona" style="width:20%">
                        NRO <p-sortIcon field="idPersona" />
                    </th>
                    <th>P.NOMBRE</th>
                    <th>S.NOMBRE</th>
                    <th>P.APELLIDO</th>
                    <th>S.APELLIDO</th>
                    <th>CI</th>
                    <th>GENERO</th>
                    <th>F. NAC.</th>
                    <th>CUENTA</th>
                    <th>F.INGRESO</th>
                    <th>TIPO CONTRATO</th>
                    <th>TIPO CARGO</th>
                    <th>SUELDO</th>
                    <th>SUCURSAL</th>
                    <th>ACCION</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-persona>
                <tr>
                    <td>{{ persona.idPersona }}</td>
                    <td>{{ persona.primerNombre }}</td>
                    <td>{{ persona.segundoNombre }}</td>
                    <td>{{ persona.primerApellido }}</td>
                    <td>{{ persona.segundoApellido }}</td>
                    <td>{{ persona.ci }}</td>
                    <td>{{ persona.genero }}</td>
                    <td>{{ persona.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ persona.cuenta }}</td>
                    <td>{{ persona.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ persona.tipoContrato.descripcion }}</td>
                    <td>{{ persona.tipoCargo.descripcion }}</td>
                    <td>{{ persona.sueldoBase }}</td>
                    <td>{{ persona.sucursal.nombre }}</td>
                    <td>
                        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
                            <p-button icon="pi pi-pencil" [rounded]="true" (click)="showDialog(persona)"></p-button>
                            <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="confirm2($event,persona.idPersona)" ></p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



