<p-toast />
<p-confirmPopup />
<router-outlet></router-outlet>
<div [hidden]="chekChildren()">    
    <div class="card p-4">
  <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">

    <!-- Buscador -->
    <div class="w-full md:w-1/2">
      <span class="p-input-icon-left w-full">
        <i class="pi pi-search"></i>
        <input pInputText 
               type="text" 
               class="w-full"
               placeholder="Buscar..." 
               (input)="dt2.filterGlobal($any($event.target).value, 'contains')" />
      </span>
    </div>

    <!-- Botones -->
    <div class="flex gap-3">
      <!-- Botón: Nuevo -->
      <p-button icon="pi pi-user-plus"
                label="Nuevo"
                [rounded]="true"
                severity="primary"
                (click)="showDialog()">
      </p-button>

      <!-- Botón: Incremento Salarial -->
      <p-button icon="pi pi-percentage"
                label="Incremento Salarial"
                severity="success"
                (click)="incrementoSlarial()">
      </p-button>
    </div>

  </div>
</div>

    <div class="card">
        <p-table 
            #dt2
            class="p-datatable-sm"
            [value]="persona"
            [rows]="10"
            styleClass="p-datatable-striped" 
            [tableStyle]="{ 'min-width': 'rem' }"
            styleClass="p-datatable-striped" 
            [paginator]="true"
            dataKey="idPersona"
            [globalFilterFields]="['primerNombre','sucursal.nombre','ci']"
            [rowsPerPageOptions]="[5, 10, 20]"
        >
            <ng-template pTemplate="header" >
                <tr>
                    <th pSortableColumn="idPersona">
                        NRO <p-sortIcon field="idPersona" />
                    </th>
                    <th>P.NOMBRE</th>
                    <th>CI</th>
                    <th>F.INGRESO</th>
                    <th>TIPO CONTRATO</th>
                    <th>TIPO CARGO</th>
                    <th>SUELDO</th>
                    
                    <th>SUCURSAL</th>
                    <th colspan="3" ><p class="text-center">ACCION</p></th>
                    
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-persona let-rowIndex="rowIndex">
                <tr>
                    <td>{{ rowIndex + 1 }}</td>
                    <td>{{ persona.primerNombre }} {{ persona.segundoNombre }} {{ persona.primerApellido }} {{ persona.segundoApellido }} </td>
                    <td>{{ persona.ci }} {{ persona.documentoIdentidad.abreviacionCI }}</td>
                    <td>{{ persona.fechaIngreso | date: 'dd/MM/yyyy'}}</td>
                    <td>{{ persona.tipoContrato.descripcion }}</td>
                    <td>{{ persona.tipoCargo.descripcion }}</td>
                    <td>{{ persona.sueldoBase | number : '1.2-2' }}</td>
                    <td>{{ persona.sucursal.nombre }}</td>
                    <td>
                        <div class="flex justify-content-center flex-wrap gap-3 mb-4">
                            <p-button icon="pi pi-pencil" [rounded]="true" (click)="showDialog(persona)"></p-button>                        
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center flex-wrap gap-3 mb-4">                     
                            <p-button icon="pi pi-trash" [rounded]="true" severity="danger" (click)="confirm2($event,persona.idPersona)" ></p-button>
                        </div>
                    </td>
                    <td>
                        <div class="flex justify-content-center flex-wrap gap-3 mb-4">   
                            <p-button 
                                icon="pi pi-eye" 
                                [rounded]="true" 
                                severity="info" 
                                (click)="infoPersona(persona)">
                            </p-button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>



